/* Style général */
header {
    background-image: url('couverture.jpg');  /* Lien vers l'image de fond */
    background-size: cover;  /* L'image couvre toute la largeur et la hauteur du header */
    background-position: top;

    background-color: #3323a8;  /* Couleur de fond pour le header */
    color: white;  /* Couleur du texte pour tout le header */
    padding: 20px 0;  /* Espacement vertical */
    text-align: center;  /* Centrer le texte */
    margin-bottom: 30px;  /* Espacement sous le header */
    width: 100%;  /* Largeur totale */
    height: 120px;  /* Fixer une hauteur pour le header (ajuste si nécessaire) */
}

.header-container h1 {
    margin: 0;
    font-size: 3em;  /* Taille de la police pour le titre */
    font-weight: bold;  /* Police en gras */
    color: white;  /* Texte du titre en blanc */
    line-height: 120px;
}

.header-container p {
    margin: 5px 0 0 0;  /* Espacement sous le titre */
    font-size: 1.2em;  /* Taille de la police pour la description */
    font-style: italic;  /* Italique pour le sous-titre */
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

h1 {
    text-align: center;
    color: #252D30FF;
    margin-bottom: 20px;
}

a {
    color: #4838b2;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

/* Formulaire */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

textarea, input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea:focus, input[type="number"]:focus {
    border-color: #4838b2;
    outline: none;
    box-shadow: 0 0 5px rgba(9, 33, 98, 0.5);
}

button {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #efa904;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    background-color: #b27d38;
}
