/* Style général */
/* Header universel */

header {
    background-image: url('couverture.jpg');  /* Lien vers l'image de fond */
    background-size: cover;  /* L'image couvre toute la largeur et la hauteur du header */
    background-position: top;

    background-color: #3323a8;  /* Couleur de fond pour le header */
    color: white;  /* Couleur du texte pour tout le header */
    padding: 20px 0;  /* Espacement vertical */
    text-align: center;  /* Centrer le texte */
    margin-bottom: 30px;  /* Espacement sous le header */
    width: 100%;  /* Largeur totale */
    height: 120px;  /* Fixer une hauteur pour le header (ajuste si nécessaire) */
}

.header-container h1 {
    margin: 0;
    font-size: 3em;  /* Taille de la police pour le titre */
    font-weight: bold;  /* Police en gras */
    color: white;  /* Texte du titre en blanc */
    line-height: 120px;
}

/*.header-container p {
    margin: 5px 0 0 0;  /* Espacement sous le titre */
/*font-size: 1.2em;  /* Taille de la police pour la description */
/*font-style: italic;  /* Italique pour le sous-titre */

/* Style général pour les boutons */
.btn-ajouter {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50; /* Vert pour les actions positives */
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.btn-ajouter:hover {
    background-color: #45a049;
    transform: scale(1.05); /* Effet de zoom */
}

/* Bouton spécifique pour l'admin */
.btn-admin {
    background-color: #ffa500; /* Orange pour des actions spécifiques à l'admin */
}

.btn-admin:hover {
    background-color: #e69500;
}

/* Container des boutons */
.button-container {
    margin: 20px 0;
    text-align: center; /* Centrer les boutons */
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
}

.search-container input[type="text"],
.search-container select,
.search-container button {
    width: 100%; /* 100% de la largeur du conteneur */
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Bouton de recherche */
.search-container button {
    width: 100%; /* 100% de la largeur du conteneur */

    background-color: #4CAF50; /* Vert */
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: #45a049;
}



body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

h1 {
    text-align: center;
    color: #252D30FF;
    margin-bottom: 20px;
}

a {
    color: #4838b2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

table thead {
    background-color: #252D30FF;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #faf5ea;
}

/* Boutons et liens dans la table */
table td a {
    padding: 5px 10px;
    border: 1px solid #b27d38;
    border-radius: 3px;
    background-color: #efa904;
    color: #fff;
    font-size: 14px;
    text-align: center;
    display: inline-block;
}

table td a:hover {
    background-color: #d29503;
    border-color: #d29503;
}

/* Lien de déconnexion */
a[href="/logout"] {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #94211a;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
}

a[href="/logout"]:hover {
    background-color: #94211a;
}
