<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Détails de l'Outil</title>
    <link rel="stylesheet" th:href="@{/css/details.css}">
    <meta charset="UTF-8">
</head>
<body>
<header>
    <div class="header-container">
        <h1>HOPE</h1>
        <!--p>Hub des Outils et Plateformes pour les Enseignements</p-->
    </div>
</header>

<h1>Détails de l'outil</h1>
<div>
    <p><strong>Titre :</strong> <span th:text="${titre}"></span></p>
    <p><strong>Description :</strong> <span th:text="${descriptionDetaillee}"></span></p>
    <p><strong>Accès :</strong> <span th:text="${acces}"></span></p>
</div>
<a href="/outils">Retour à la liste</a>
<a th:href="@{'/feedbacks/formulaire/' + ${outilId}}">Ajouter un Feedback</a>


</body>
</html>
