<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Outils</title>
    <link rel="stylesheet" th:href="@{/css/outils.css}">
    <meta charset="UTF-8">
</head>
<header>
    <div class="header-container">
        <h1>HOPE</h1>
        <div>
            <!-- Message personnalisé selon le rôle -->
            <span th:if="${session.role == 'ADMIN'}">
                Bienvenue, Administrateur <b th:text="${session.nom}"></b> <b th:text="${session.prenom}"></b> !
            </span>
            <span th:if="${session.role == 'ENSEIGNANT'}">
                Bienvenue, Enseignant(e) <b th:text="${session.nom}"></b> <b th:text="${session.prenom}"></b> !
            </span>
            <span th:if="${session.role == 'ETUDIANT'}">
                Bienvenue, Étudiant(e) <b th:text="${session.nom}"></b> <b th:text="${session.prenom}"></b> !
            </span>
            <a href="/utilisateurs/logout" class="logout-button">Se déconnecter</a>
        </div>
    </div>
</header>



<body>
<!-- Vérifie si l'utilisateur a le rôle ADMIN -->
<!--<div th:if="${#authorization.expression('isAuthenticated()')}">-->
<!--    <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">-->
<!--        <h2>Bienvenue Administrateur</h2>-->
<!--    </div>-->
<!--</div>-->


<h1>Liste des Outils</h1>
<table border="1">
    <thead>
    <tr>
        <th>Titre</th>
        <th>Domaine</th>
        <th>Description</th>
        <th>Lien</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="outil : ${outils}">
        <td th:text="${outil.titre}"></td>
        <td th:text="${outil.domaine}"></td>
        <td th:text="${outil.descriptionSimple}"></td>
        <td><a th:href="${outil.lien}" target="_blank">Voir</a></td>
        <td><a th:href="@{/outils/details/{id}(id=${outil.id})}">Détails</a></td>

    </tr>

    </tbody>
</table>
</body>
</html>
