<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Outils</title>
    <link rel="stylesheet" th:href="@{/css/outils.css}">
    <meta charset="UTF-8">
</head>
<header>
    <div class="header-container">
        <h1>HOPE</h1>
        <div>
            <span th:if="${session.role == 'ADMIN'}">
                Bienvenue, Administrateur <b th:text="${session.nom}"></b> <b th:text="${session.prenom}"></b> !
            </span>
            <span th:if="${session.role == 'ENSEIGNANT'}">
                Bienvenue, Enseignant(e) <b th:text="${session.nom}"></b> <b th:text="${session.prenom}"></b> !
            </span>
            <span th:if="${session.role == 'ETUDIANT'}">
                Bienvenue, Étudiant(e) <b th:text="${session.nom}"></b> <b th:text="${session.prenom}"></b> !
            </span>
            <a href="/utilisateurs/logout" class="logout-button">Se déconnecter</a>
        </div>
    </div>
</header>
<div class="search-container">
    <form th:action="@{/outils/recherche}" method="get">
        <!-- Champ de recherche par texte -->
        <input type="text" name="query" placeholder="Rechercher par titre ou description..." class="search-input" />

        <!-- Liste déroulante pour le domaine -->
        <select name="domaine" class="search-select">
            <option value="">Tous les domaines</option> <!-- Option par défaut -->
            <option th:each="domaine : ${domaines}" th:value="${domaine}" th:text="${domaine}"></option>
        </select>

        <button type="submit" class="search-button">Rechercher</button>
    </form>
</div>

<div class="button-container">
    <a th:if="${session.role != null}" href="/outils/ajouter" class="btn-ajouter">Ajouter un outil</a>
    <a th:if="${session.role == 'ADMIN'}" href="/outils/admin/validation" class="btn-ajouter btn-admin">Valider Les demandes d'outils</a>
</div>




<body>



<h1>Liste des Outils</h1>
<table border="1">
    <thead>
    <tr>
        <th>Titre</th>
        <th>Domaine</th>
        <th>Description</th>
        <th>Lien</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="outil : ${outils}">
        <td th:text="${outil.titre}"></td>
        <td th:text="${outil.domaine}"></td>
        <td th:text="${outil.descriptionSimple}"></td>
        <td><a th:href="${outil.lien}" target="_blank">Voir</a></td>
        <td><a th:href="@{/outils/details/{id}(id=${outil.id})}">Détails</a></td>

    </tr>

    </tbody>
</table>
</body>
</html>
