/* Style général */
/* Header universel */

header {
    background-color: #3323a8;  /* Couleur de fond pour le header */
    color: white;  /* Couleur du texte pour tout le header */
    padding: 20px 0;  /* Espacement vertical */
    text-align: center;  /* Centrer le texte */
    margin-bottom: 30px;  /* Espacement sous le header */
    width: 100%;  /* Largeur totale */
}

.header-container h1 {
    margin: 0;
    font-size: 3em;  /* Taille de la police pour le titre */
    font-weight: bold;  /* Police en gras */
    color: white;  /* Texte du titre en blanc */
}

.header-container p {
    margin: 5px 0 0 0;  /* Espacement sous le titre */
    font-size: 1.2em;  /* Taille de la police pour la description */
    font-style: italic;  /* Italique pour le sous-titre */
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

h1 {
    text-align: center;
    color: #3c27c5;
    margin-bottom: 20px;
}

a {
    color: #4838b2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

table thead {
    background-color: #4838b2;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #eaf0fa;
}

/* Boutons et liens dans la table */
table td a {
    padding: 5px 10px;
    border: 1px solid #4838b2;
    border-radius: 3px;
    background-color: #4838b2;
    color: #fff;
    font-size: 14px;
    text-align: center;
    display: inline-block;
}

table td a:hover {
    background-color: #4845a0;
    border-color: #4845a0;
}

/* Lien de déconnexion */
a[href="/logout"] {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #94211a;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
}

a[href="/logout"]:hover {
    background-color: #94211a;
}
